
#main {
    color: rgb(95, 99, 104);;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}
a, 
a:hover, 
a:active {
    color: rgb(95, 99, 104);  
}
a {
    text-decoration: underline;
}
a:hover {   
    text-decoration: none;
}

#container {
    background-color: #fff;
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: 10%;
    width: 552px;
}

div#dinoContainer {
    height: 43px;
    width: 40px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    overflow: hidden;
    z-index: 30;
}
img#dino {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 43px;
    width: 120px;
}

img#background-ground,
img#background-clouds,
img#cactus-simple,
img#cactus-double {
    position: absolute;
}
img#background-ground {
    bottom: 0;
    left: 0;
    z-index: 10;
}
img#background-clouds {
    width: 1552px;
    z-index: 20;
}
img#cactus-simple,
img#cactus-double,
img#dino {
    z-index: 30;
}
img#cactus-simple {
    bottom: 11px;
    left: 552px;
    height: 46px;
    width: 23px;
}
img#cactus-double {
    bottom: 11px;
    left: 752px;
    height: 34px;
    width: 32px;
}

#btn-play {
    cursor: pointer;
    position: absolute;
    z-index: 30;
    left: calc(50% - 34px);
    top: calc(65% - 30px);
}

.hidden {
    display: none;
}

#div-score {
    font-weight: bold;
    position: absolute;
    z-index: 30;
    right: 15px;
    top: 15px;
}

h1 {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0 0 15px;
}
h2 {
    font-size: 1.25em;
}

#panel {
    position: absolute;
}

#mainMessage {
    margin-top: 45%;
    width: 552px;
}
#tableauCompetences {
	border: 2px solid rgb(95, 99, 104);
	border-radius: 3px;
	height: 515px;
	position: absolute;
	right: 20%;
	top: 10%;
	width: 150px;
}
#tableauCompetences h2 {
	background-color: rgb(95, 99, 104);
	color: #fff;
	/* border-radius: 3px 3px 0 0; */
	/* display: none; */
	font-size: 1em;
	font-weight: 700;
	margin: 0;
	padding: 15px 0;
	text-align: center;
	width: 100%;
}
#tableauCompetences ul {
    padding: 0;
}
#tableauCompetences ul li {
	/* background-color: #efefef; */
	display: none;
	/* max-width: 65%; */
	padding: 10px;
	text-align: center;
	/* border-top: 1px solid rgb(95, 99, 104); */
}
#tableauCompetences ul li:first-child {
	padding-top: 20px;
}
#tableauCompetences ul li:last-child {
    border-radius: 0 0 5px 5px;
	/* padding-bottom: 25px; */
}
#tableauCompetences ul li img {
    /* display: none; */
    filter: grayscale(100%);
	max-width: 20%;
}
#tableauCompetences ul li#jquery img {
	max-width: 60%;
}
#tableauCompetences ul li#mongodb img {
	max-width: 65%;
}
#tableauCompetences ul li#nodejs img {
	max-width: 50%;
}
#tableauCompetences ul li#expressjs img {
	max-width: 50%;
}
#tableauCompetences ul li#meteorjs img {
	max-width: 50%;
}
#game-over {
    display: none;
    font-size: 1.25em;
    font-weight: 700;
    position: absolute;
    z-index: 30;
    top: 20%;
    left: 37%;
}