
#main {
    color: rgb(95, 99, 104);;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}
a, 
a:hover, 
a:active {
    color: rgb(95, 99, 104);  
}
a {
    text-decoration: underline;
}
a:hover {   
    text-decoration: none;
}

#container {
    /* background: transparent url('../img/background.png') no-repeat 0 0; */
    /* border: 1px solid #666; */
    height: 150px;
    overflow: hidden;
    top: 10%;
    width: 552px;
}

img#background-ground,
img#background-clouds,
img#cactus-simple,
img#cactus-double {
    position: absolute;
}

img#background-ground {
    z-index: 10;
}
img#background-clouds {
    z-index: 20;
}
img#cactus-simple,
img#cactus-double,
img#dino {
    z-index: 30;
}
div#dinoContainer {
    z-index: 30;
    overflow: hidden;
}

#btn-play {
    cursor: pointer;
    position: absolute;
    z-index: 30;
    left: calc(50% - 34px);
    top: calc(65% - 30px);
}

.hidden {
    display: none;
}

#div-score {
    position: absolute;
    z-index: 30;
    right: 15px;
    top: 15px;
}

h1 {
    font-weight: 500;
    font-size: 1.5em;
    margin: 0 0 15px;
}
h2 {
    font-size: 1.25em;
}

#panel {
    position: absolute;
}

#mainMessage {
    margin-top: 45%;
    width: 552px;
}
#tableauCompetences {
	margin-top: 20px;
}
#tableauCompetences h2 {
	display: none;
}
#tableauCompetences ul {
    padding: 0;
}
#tableauCompetences ul li {
    display: none;
}
#game-over {
    display: none;
    font-size: 1.25em;
    font-weight: 700;
    position: absolute;
    z-index: 30;
    top: 20%;
    left: 36%;
}